<!DOCTYPE html>
<html>
  <head>
    <title><%= coin.name %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <nav>
      <a class="getStarted" href="/">Home</a>
      <a class="getStarted" href="/coins">Get started</a>
      <a class="getStarted" href="/users">Show users</a>
    </nav>
    <h1><%= coin.name %></h1>
      <p>Name <%= coin.name %></p>
      <p>Price <%= coin.price %></p>
      <p>Desciption <%= coin.description%><p/>
      <p><a href="/coins/<%= coin.id %>/edit">Edit Coin<a></p>
  </body>
</html>
